<div class="card-container">
  <a class="circle-link" title="Animations" href="">
    <img src="/assets/img/instagram.svg" alt="">
  </a>

  <a class="circle-link" title="CLI" href="">
    <img src="/assets/img/twitter.svg" alt="">
  </a>

  <a class="circle-link" title="Augury" href="">
    <img src="/assets/img/facebook.svg" alt="">
  </a>

</div>

<h2>Scroll Down To See More Post</h2>
<div class="container">
  <div class="postcard ">
    <div class="ca" *ngFor="let d of posts" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
      <a class="card4 circle-link" href="#">

        <h3>{{d.title}}</h3>

        <p>Posted By: {{name[d.userId]}}</p>
        <p class="small">
          {{d.body}} &nbsp; <a href="">Read More</a>
        </p>
        <div class="dimmer"></div>
        <div class="go-corner" href="#">
          <div class="go-arrow">
            →
          </div>
        </div>
      </a>
    </div>
  </div>
</div>



<router-outlet></router-outlet>